:root {
    --brown: rgb(213, 150, 108);
    --black: rgb(21, 21, 21);
    --grey: rgb(68, 68, 68);
    --white: rgb(255, 255, 255);
}

html,
body,
p {
    margin: 0px;
}

body {
    font-family: "Outfit Light", sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

a:visited {
    all: unset;
}

.location-container {
    background-image: url(./assets/mobile/image-map.png);
    height: 550px;
}

.our-location-button {
    background-color: black;
    color: white;
    padding: 24px 35px 24px 32px;
}

.button-container {
    width: 87%;

    display: flex;
}

.button-container:hover .arrow-container {
    background-color: black;
}

.button-container:hover .our-location-button {
    background-color: var(--brown);
}


.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--brown);
    width: 18%;
}

.button-container button {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    width: 66%;
}

.hero-text-container {
    padding: 0px 16px;
    background-color: black;
}

h2 {
    font-family: "Big Shoulders Display", sans-serif;
    color: white;
    margin: 0px;
    padding: 48px 0px;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;

}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #D5966C;
    margin: 0px;
}

.address-paragraph {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.black-backround-paragraph {
    padding-bottom: 56px;
    color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;

}

/* Footer */

footer {
    background-color: var(--brown);
    color: var(--black);
}

.footer-text-container {
    padding: 48px 32px 50px;
}

.footer-text-container #logo {
    margin-bottom: 32px;
}

.footer-text-container p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 38px;
}

.social-media-container {
    display: flex;
    gap: 20px;
}

.social-media-container {
    color: #151515;
}

.black {
    color: red;
}